*.xlsx
*.docx
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
.mvn/wrapper/maven-wrapper.jar
.project
.classpath
.idea/
*.iml
nb-configuration.xml
**/.vscode/
**/.history/*